*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
*:focus{
  outline: none;
}

.container{
  text-align: center;
  position: relative;
}

button{
  border: none;
  color: #fff;
  background: #FFC107;
  border-radius: 5px;
  padding: 10px 40px;
  margin-top: 20px;
  font-size: 20px;
}


button:hover{
  box-shadow: 0 0 5px #8e8e8e;
  background: #ff9800;
  cursor: pointer;
}

#slot-container{
  height: 200px;
  border: 1px solid blue;
  width: 500px;
  text-align: center;
  padding: 0 24px;
  overflow: hidden;
}
.slot-panel{
  min-height: 200px;
  width: 150px;
  border: 1px solid;
  float: left;
  position: relative;
}

.slot-image{
  width: 100%;
  height: 150px;
  margin: 25px 0;
  position: relative;
  top: 0px;
  left: 0;
}



.animated-up{
  animation: slide-up 0.3s infinite linear;
  -webkit-animation: slide-up 0.3s infinite linear;
}

@@keyframes slide-up {
  from {
    top:0px;
  }
  to {
    top: -1200px;
  }
}

@-webkit-keyframes slide-up {
  from {
    top:0px;
  }
  to {
    top: -1200px;
  }
}

.animated-down{
  animation: slide-down 0.3s infinite linear;
  -webkit-animation: slide-down 0.3s infinite linear;
}

@@keyframes slide-down {
  from {
    top:-1200px;
  }
  to {
    top: 0px;
  }
}

@-webkit-keyframes slide-down {
  from {
    top:-1200px;
  }
  to {
    top: 0px;
  }
}
